// rem
$rem05:0.5rem;
$rem08:0.8rem;
$rem09:0.9rem;
$rem1:1rem;
$rem12:1.2rem;
$rem15:1.5rem;
$rem18:1.8rem;
$rem2:2rem;
$rem25:2.5rem;
$rem3:3rem;
$rem4:4rem;
$rem5:5rem;
$rem6:6rem;
$rem7:7rem;
$rem8:8rem;
$rem9:9rem;
$rem10:10rem;
$rem11:11rem;
$rem12:12rem;
// color
$gray:#45464e;
$white:#fff;
// wight
$wight1:100;
$wight2:200;
$wight3:300;
$wight4:400;
$wight5:500;
$wight6:600;
$wight7:700;
$wight8:800;
$wight9:900;
