@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.navbar .navbar_menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar .navbar_menu ul li {
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
.navbar .navbar_menu ul li span {
  margin-left: 4px;
}
.navbar .navbar_button {
  display: flex;
  gap: 10px;
}
.navbar .navbar_button .button1,
.navbar .navbar_button .button2 {
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
.navbar .navbar_button .button1 {
  background-color: transparent;
  font-weight: 400;
}
.navbar .navbar_button .button2 {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 7px #45464e;
}
.navbar #menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 769px) {
  .navbar .navbar_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 40px 20px;
    z-index: 999;
  }
  .navbar .navbar_menu.active {
    right: 0;
  }
  .navbar .navbar_menu .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
  }
  .navbar .navbar_menu ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .navbar .navbar_menu ul li {
    font-size: 18px;
  }
  .navbar .navbar_menu ul .mobile-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .navbar .navbar_menu ul .mobile-buttons .button1,
  .navbar .navbar_menu ul .mobile-buttons .button2 {
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .navbar .navbar_menu ul .mobile-buttons .button2 {
    background: black;
    color: white;
  }
  .navbar .navbar_button {
    display: none;
  }
  .navbar #menu-icon {
    display: block;
  }
}
@media (min-width: 769px) {
  .navbar .navbar_menu {
    position: static;
    display: block !important;
    height: auto;
    background: none;
    box-shadow: none;
    padding: 0;
  }
  .navbar .navbar_menu .close {
    display: none;
  }
  .navbar .navbar_menu ul {
    flex-direction: row;
    gap: 30px;
  }
  .navbar #menu-icon {
    display: none;
  }
  .navbar .navbar_button {
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.Hero .Hero_left h1 {
  font-size: 5rem;
  color: #45464e;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4rem;
}
.Hero .Hero_left span {
  color: #45464e;
  font-weight: 800;
}
.Hero .Hero_left .dicider {
  width: 320px;
  margin-bottom: 4rem;
}
.Hero .Hero_left p {
  font-size: 1.5rem;
  width: 390px;
  color: #333;
  margin-bottom: 3rem;
}
.Hero .Hero_left .Hero_flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Hero .Hero_left .Hero_flex button {
  padding: 0.9rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
}
.Hero .Hero_left .Hero_flex .watch {
  margin-left: 1rem;
  display: flex;
  gap: 2rem;
}
.Hero .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.Hero .hero_right {
  position: relative;
  display: inline-block;
}
.Hero .hero_right img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.Hero .hero_right .bg-shape {
  position: absolute;
  top: 50%;
  right: -80px;
  transform: translateY(-50%);
  width: 520px;
  height: 550px;
  background-color: #d5d5d5;
  border-top-left-radius: 245px;
  border-bottom-left-radius: 245px;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
