@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.navbar .navbar_menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar .navbar_menu ul li {
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
.navbar .navbar_menu ul li span {
  margin-left: 4px;
}
.navbar .navbar_button {
  display: flex;
  gap: 10px;
}
.navbar .navbar_button .button1,
.navbar .navbar_button .button2 {
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
.navbar .navbar_button .button1 {
  background-color: transparent;
  font-weight: 400;
}
.navbar .navbar_button .button2 {
  background-color: black;
  color: white;
  box-shadow: 0px 0px 7px #45464e;
}
.navbar #menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 769px) {
  .navbar .navbar_menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 40px 20px;
    z-index: 999;
  }
  .navbar .navbar_menu.active {
    right: 0;
  }
  .navbar .navbar_menu .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
  }
  .navbar .navbar_menu ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .navbar .navbar_menu ul li {
    font-size: 18px;
  }
  .navbar .navbar_menu ul .mobile-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .navbar .navbar_menu ul .mobile-buttons .button1,
  .navbar .navbar_menu ul .mobile-buttons .button2 {
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .navbar .navbar_menu ul .mobile-buttons .button2 {
    background: black;
    color: white;
  }
  .navbar .navbar_button {
    display: none;
  }
  .navbar #menu-icon {
    display: block;
  }
}
@media (min-width: 769px) {
  .navbar .navbar_menu {
    position: static;
    display: block !important;
    height: auto;
    background: none;
    box-shadow: none;
    padding: 0;
  }
  .navbar .navbar_menu .close {
    display: none;
  }
  .navbar .navbar_menu ul {
    flex-direction: row;
    gap: 30px;
  }
  .navbar #menu-icon {
    display: none;
  }
  .navbar .navbar_button {
    display: flex;
  }
}
.Product {
  margin-top: 5rem;
}
.Product .product_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Product .product_text {
  text-align: center;
  margin-top: 8rem;
}
.Product .product_text h1 {
  font-size: 50px;
  color: #555;
  letter-spacing: 2px;
}
.Product .product_text p {
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.Product .product_right_text {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 3rem;
}
.Product .product_right_text h2 {
  font-size: 20px;
  font-weight: 400;
  color: #555;
}

@media (min-width: 361px) and (max-width: 600px) {
  .Product {
    margin-top: 5rem;
    width: 90%;
  }
  .Product .product_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Product .product_box .img {
    width: 100%;
  }
  .Product .product_text {
    text-align: center;
    margin-top: 8rem;
  }
  .Product .product_text h1 {
    font-size: 30px;
    color: #555;
    letter-spacing: 2px;
  }
  .Product .product_text p {
    font-size: 17px;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .Product .product_right_text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 3rem;
  }
  .Product .product_right_text h2 {
    font-size: 16px;
    font-weight: 400;
    color: #555;
  }
}
@media (max-width: 360px) {
  .Product {
    margin-top: 5rem;
    width: 90%;
  }
  .Product .product_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .Product .product_box img {
    margin-left: 2rem;
  }
  .Product .product_box .img {
    width: 100%;
  }
  .Product .product_text {
    text-align: center;
    margin-top: 8rem;
    width: 90%;
    margin-left: 1rem;
  }
  .Product .product_text h1 {
    font-size: 24px;
    color: #555;
    letter-spacing: 2px;
  }
  .Product .product_text p {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .Product .product_right_text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
  }
  .Product .product_right_text h2 {
    font-size: 16px;
    font-weight: 400;
    color: #555;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.Hero .Hero_left h1 {
  font-size: 5rem;
  color: #45464e;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4rem;
}
.Hero .Hero_left span {
  color: #45464e;
  font-weight: 800;
}
.Hero .Hero_left .dicider {
  width: 320px;
  margin-bottom: 4rem;
}
.Hero .Hero_left p {
  font-size: 1.5rem;
  width: 390px;
  color: #333;
  margin-bottom: 3rem;
}
.Hero .Hero_left .Hero_flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Hero .Hero_left .Hero_flex button {
  padding: 0.9rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
}
.Hero .Hero_left .Hero_flex .watch {
  margin-left: 1rem;
  display: flex;
  gap: 2rem;
}
.Hero .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.Hero .hero_right {
  position: relative;
  display: inline-block;
}
.Hero .hero_right img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}
.Hero .hero_right .bg-shape {
  position: absolute;
  top: 50%;
  right: -80px;
  transform: translateY(-50%);
  width: 520px;
  height: 550px;
  background-color: #d5d5d5;
  border-top-left-radius: 245px;
  border-bottom-left-radius: 245px;
  z-index: 1;
}

@media screen and (max-width: 361px) {
  .Hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 95%;
  }
  .Hero .Hero_left {
    width: 90%;
  }
  .Hero .Hero_left h1 {
    font-size: 1rem;
    color: #45464e;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4rem;
  }
  .Hero .Hero_left span {
    color: #45464e;
    font-weight: 800;
  }
  .Hero .Hero_left .dicider {
    width: 70%;
    margin-bottom: 2rem;
  }
  .Hero .Hero_left p {
    font-size: 1rem;
    width: 100%;
    color: #333;
    margin-bottom: 3rem;
  }
  .Hero .Hero_left .Hero_flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .Hero .Hero_left .Hero_flex button {
    padding: 0.9rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
  }
  .Hero .Hero_left .Hero_flex .watch {
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .Hero .Hero_left .Hero_flex .watch h4 {
    font-size: 0.6rem;
  }
  .Hero .Hero_left .Hero_flex br {
    display: none;
  }
  .Hero .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  .Hero .hero_right {
    position: relative;
    display: inline-block;
    margin-bottom: 9rem;
  }
  .Hero .hero_right img {
    position: relative;
    z-index: 2;
    max-width: 100%;
  }
  .Hero .hero_right .bg-shape {
    position: absolute;
    top: 80%;
    right: -27px;
    transform: translateY(-50%);
    width: 350px;
    height: 280px;
    background-color: #d5d5d5;
    border-top-left-radius: 245px;
    border-bottom-left-radius: 245px;
    z-index: 1;
  }
}
@media (min-width: 370px) and (max-width: 769px) {
  .Hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 95%;
  }
  .Hero .Hero_left {
    width: 95%;
  }
  .Hero .Hero_left h1 {
    font-size: 2rem;
    color: #45464e;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 4rem;
  }
  .Hero .Hero_left span {
    color: #45464e;
    font-weight: 800;
  }
  .Hero .Hero_left .dicider {
    width: 320px;
    margin-bottom: 2rem;
  }
  .Hero .Hero_left p {
    font-size: 1.1rem;
    width: 100%;
    color: #333;
    margin-bottom: 3rem;
  }
  .Hero .Hero_left .Hero_flex {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .Hero .Hero_left .Hero_flex button {
    padding: 0.9rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
  }
  .Hero .Hero_left .Hero_flex .watch {
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .Hero .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }
  .Hero .hero_right {
    position: relative;
    display: inline-block;
    margin-bottom: 9rem;
  }
  .Hero .hero_right img {
    position: relative;
    z-index: 2;
    max-width: 100%;
  }
  .Hero .hero_right .bg-shape {
    position: absolute;
    top: 80%;
    right: -26px;
    transform: translateY(-50%);
    width: 320px;
    height: 350px;
    background-color: #d5d5d5;
    border-top-left-radius: 245px;
    border-bottom-left-radius: 245px;
    z-index: 1;
  }
}
.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.card .card_box {
  width: 200px;
  height: 120px;
  padding: 1rem 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 1px -2px 8px 0px rgba(34, 60, 80, 0.08);
  border-radius: 16px;
  transition: all 0.5s ease;
}
.card .card_box:hover {
  box-shadow: 1px -2px 8px 9px rgba(34, 60, 80, 0.12);
  transform: scale(1.02);
}
.card .card_box .value_box {
  display: flex;
  align-items: baseline;
  text-align: center;
  gap: 8px;
}
.card .card_box .hover-text span {
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: default;
}
.card .card_box .hover-text span:hover {
  transform: translateY(-4px);
}
.card .card_box h1 {
  font-size: 32px;
  margin: 0;
}
.card .card_box h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.card .card_box h1 {
  font-size: 35px;
  font-weight: 800;
  color: #555;
  margin-bottom: 1.4rem;
}
.card .card_box span {
  font-size: 34px;
}
.card .card_box p {
  color: #555;
}

@media (min-width: 361px) and (max-width: 600px) {
  .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: 1.2rem;
    gap: 2rem;
    text-align: center;
    align-items: center;
    width: 90%;
  }
  .card .card_box {
    width: 90%;
    height: 360px;
    padding: 1rem 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -2px 8px 0px rgba(34, 60, 80, 0.08);
    border-radius: 50%;
    transition: all 0.6s ease;
  }
  .card .card_box:hover {
    box-shadow: 1px -2px 8px 9px rgba(34, 60, 80, 0.12);
  }
  .card .card_box h1 {
    font-size: 55px;
    font-weight: 800;
    color: #555;
    margin-bottom: 2rem;
    margin-top: 4rem;
    margin-left: 5rem;
  }
  .card .card_box span {
    font-size: 56px;
  }
  .card .card_box p {
    color: #555;
    font-size: 38px;
    text-shadow: 5px 0px 7px rgba(63, 62, 62, 0.62);
  }
}
@media (max-width: 360px) {
  .card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-left: 1.2rem;
    gap: 2rem;
    text-align: center;
    align-items: center;
    width: 90%;
  }
  .card .card_box {
    width: 100%;
    height: 320px;
    padding: 1rem 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -2px 8px 0px rgba(34, 60, 80, 0.08);
    border-radius: 50%;
    transition: all 0.6s ease;
  }
  .card .card_box:hover {
    box-shadow: 1px -2px 8px 9px rgba(34, 60, 80, 0.12);
  }
  .card .card_box h1 {
    font-size: 55px;
    font-weight: 800;
    color: #555;
    margin-bottom: 2rem;
    margin-top: 4rem;
    margin-left: 5rem;
  }
  .card .card_box span {
    font-size: 56px;
  }
  .card .card_box p {
    color: #555;
    font-size: 38px;
    text-shadow: 5px 0px 7px rgba(63, 62, 62, 0.62);
  }
}

/*# sourceMappingURL=style.css.map */
