.Product {
    margin-top: 5rem;

    .product_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .product_text {
        text-align: center;
        margin-top: 8rem;

        h1 {
            font-size: 50px;
            color: #555;
            letter-spacing: 2px;
        }

        p {
            font-size: 20px;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }

    .product_right_text {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 3rem;

        h2 {
            font-size: 20px;
            font-weight: 400;
            color: #555;
        }
    }
}

@media (min-width:361px) and (max-width:600px) {
    .Product {
        margin-top: 5rem;
        width: 90%;

        .product_box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .img {
                width: 100%;
            }
        }

        .product_text {
            text-align: center;
            margin-top: 8rem;

            h1 {
                font-size: 30px;
                color: #555;
                letter-spacing: 2px;
            }

            p {
                font-size: 17px;
                margin-top: 2rem;
                margin-bottom: 4rem;
            }
        }

        .product_right_text {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 3rem;

            h2 {
                font-size: 16px;
                font-weight: 400;
                color: #555;
            }
        }
    }
}

@media (max-width:360px) {
    .Product {
        margin-top: 5rem;
        width: 90%;

        .product_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;

            img {
                margin-left: 2rem;
            }

            .img {
                width: 100%;
            }
        }

        .product_text {
            text-align: center;
            margin-top: 2rem;
            width: 90%;
            margin-left: 1rem;
            margin-left: 1.4rem;


            h1 {
                font-size: 24px;
                color: #555;
                letter-spacing: 2px;
            }

            p {
                font-size: 16px;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        .product_right_text {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 1rem;

            h2 {
                font-size: 16px;
                font-weight: 400;
                color: #555;

            }
        }
    }
}