@use'../variables' as*;

.newsletter {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;

    h1 {
        font-size: 40px;
        color: #444;
        margin-bottom: 0.6rem;

    }

    p {
        font-size: 20px;
    }

    .form {
        margin-top: 2rem;

        input {
            padding: 1.5rem 1rem;
            width: 400px;
            border: 1px solid #888;
            border-radius: 10px;
            outline: none;
        }

        button {
            padding: 1.3rem 2rem;
            margin-left: 1rem;
            border-radius: 10px;
            background-color: $gray;
            color: $white;
            font-size: 16px;
        }
    }
}

@media screen and (max-width:600px) {

    .newsletter {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 3rem;

        h1 {
            font-size: 20px;
            color: #444;
            margin-bottom: 0.6rem;

        }

        p {
            font-size: 16px;
        }

        .form {
            margin-top: 2rem;

            input {
                padding: 1.5rem 1rem;
                width: 90%;
                border: 1px solid #888;
                border-radius: 10px;
                outline: none;
                margin-bottom: 1rem;
            }

            button {
                padding: 1.3rem 2rem;
                margin-left: 0;
                border-radius: 10px;
                background-color: $gray;
                color: $white;
                font-size: 16px;
                width: 90%;
            }
        }
    }
}